body {
  margin: 0;
  font-family: Arial;
  background: #0b0b0b;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
}

.logo {
  height: 60px;
}

.nav-links a {
  margin: 0 15px;
  color: #ccc;
  text-decoration: none;
}

.nav-links .active {
  color: #ffc83d;
}

.hero {
  display: flex;
  align-items: center;
  padding: 80px;
  gap: 60px;
}

.hero-left {
  width: 50%;
}

.hero-left h1 {
  font-size: 60px;
  line-height: 1.1;
}

.hero-left span {
  color: #ffc83d;
}

.sub {
  color: #aaa;
  margin-top: 20px;
}

.buttons {
  margin-top: 20px;
}

.btn {
  padding: 12px 20px;
  border-radius: 6px;
  margin-right: 10px;
}

.primary {
  background: #ffc83d;
  color: black;
}

.outline {
  border: 1px solid white;
}

.hero-right img {
  width: 500px;
}

.revisit {
  display: flex;
  padding: 80px;
  align-items: center;
  gap: 60px;
}

.qr {
  width: 180px;
}

.phone {
  width: 200px;
  margin-left: 20px;
}

.build {
  background: white;
  color: black;
  padding: 80px;
  text-align: center;
}

.build span {
  color: #ffc83d;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.future {
  display: flex;
  align-items: center;
  padding: 80px;
  gap: 60px;
}

.future img {
  width: 400px;
}

.footer {
  padding: 40px;
  text-align: center;
}
